/*---------------------------------------------*\
*    CUSTOM SELECT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %select-js
    {
        %select-js__button
        {
            background: $white;
            &:hover
            {
                background: $white;
            }
            &%btn--active
            {
                &~%select-js__list
                {
                    @include animation('select-js-open .3s ease-out forwards');
                }
                svg
                {
                    @include transform(rotate(180deg));
                }
            }
            &%btn--inactive
            {
                &~%select-js__list
                {
                    @include animation('select-js-close .3s ease-out forwards');
                }
            }
            %button__text
            {
                color: $grey;
            }
            svg
            {
                @include transition(.3s transform ease);
                right:20px;
                fill: $grey;
            }
        }
        %select-js__list
        {
            top:49px;
            background-color: white;
            border: 1px solid $grey;
            border-top: 0 none;

            %select-js__item
            {
                @extend %btn--wide;
                font-size: map-deep-get($btn, font-size);
                background-color: $white;
                color: grey;

                &%select-js__item--selected
                {
                    background-color: rgba($grey, 0.75);
                    color: $white;
                }

                &:nth-child(odd)
                {
                    background-color: #f9f9f9;
                }

                &:hover
                {
                    background-color: rgba($grey, 0.5);
                    color: $white;
                }
            }
        }
    }

/*---------------------------------------------*\
*    ANIMATION
/*---------------------------------------------*/

    @include keyframes (select-js-open)
    {
        0% {
            max-height: 0;
        }
        100% {
            max-height: 500px;
        }
    };

    @include keyframes (select-js-close)
    {
        0% {
            max-height: 500px;
        }
        100% {
            max-height: 0;
        }
    };

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .select-js { @extend %select-js; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .select-js__list { @extend %select-js__list; }
    .select-js__button { @extend %select-js__button; }
    .select-js__item { @extend %select-js__item; }
    .button__text { @extend %button__text; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--active { @extend %btn--active; }
    .btn--inactive { @extend %btn--inactive; }
    .select-js__item--selected { @extend %select-js__item--selected; }
    .select-js__list--hidden { @extend %select-js__list--hidden; }
