/*---------------------------------------------*\
*    ACCORDION
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %block {
        width: 100%;
        position: relative;
        padding: em( map_deep_get( $layout, padding ) );

        %block__header {
            margin-bottom: 35px;
        }

        &--dark {
            color: $black;
        }

        &--light {
            color: $white;
        }

        &--sm {
            padding: 15px;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .block { @extend %block; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .block__header { @extend %block__header; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .block--sm { @extend %block--sm; }
    .block--dark { @extend  %block--dark };
    .block--light { @extend  %block--light };
