%nav
{
    @extend %grid;
    @extend %flex--align-items-center;

    %nav__item
    {
        @include transition( .3s color ease-in );
        @include transition( .3s fill ease-in );
        display: block;
    }

    &--primary
    {
        @extend %grid;
        @extend %grid--gutter-lg-right;
        margin-right: 2rem;
        @include mobile()
        {
            opacity: 0;
        };
        %nav__item
        {
            @extend %btn--menu;
            letter-spacing: 0.07em;
            @extend %line-below--outwards;
            &:after
            {
                bottom: -1rem;
                background-color: $shilo;
            }
        }
    }

    &--full-screen
    {
        @extend %grid;
        @extend %grid--col;
        width: 100%;
        display: none;
        %nav__item
        {
            text-align: center;
            @include plumber($font-size: 3.6,
            $line-height: 4, $leading-top: 1, $leading-bottom: 2);
            color: white;
            margin: 0;
            margin-bottom: #{map-deep-get($grid, gutter, 'lg')}px;
            :after {
                height:0;
            }
        }
    }

    &--full-screen-show
    {
        margin:0;
        align-self: center;
        @extend %nav--full-screen;
        @include flexbox();
        opacity: 1;
        z-index: 1010;
        position: absolute;
    }

    &--footer
    {
        @extend %grid--gutter-lg-right;
        %nav__item
        {
            @extend span;
            color: $silver;
            font-weight: 400;
            &:hover
            {
                color: $mercury;
            }
        }
    }
    &%nav--terms
    {
        width: 100%;
        @extend %grid-desktop--continuous;
        @extend %grid-tablet--continuous;
        @extend %grid-mobile--continuous;
        @extend %flex--align-items-center;
        @extend %grid-desktop--gutter-sm-right;
        @extend %grid-tablet--gutter-sm-right;
        @extend %grid-desktop--row;
        @extend %grid-tablet--row;
        @extend %grid-mobile--row;
        @extend %grid-mobile--gutter-xs-bottom;
        @extend %grid-mobile--gutter-xs-right;
        %nav__item
        {
            @extend %btn--menu;
            letter-spacing: 0.07em;
            color: $mercury;
            &:hover
            {
                color: $shilo;
            }
        }
        &%nav--what-i-did
        {
            %nav__item
            {
                color: $shilo;
            }
        }
    }
}

.nav { @extend %nav; }
.nav__item { @extend %nav__item; }
.nav--primary { @extend %nav--primary; }
.nav--footer { @extend %nav--footer; }
.nav--terms { @extend %nav--terms; }
.nav--what-i-did { @extend %nav--what-i-did; }
.nav--full-screen { @extend %nav--full-screen; }
.nav--full-screen-show { @extend %nav--full-screen-show; }
