{# _pages/single/post.twig #}

{#
   Single Post Page
   @param {Post Object} post
#}

{# Parameters #}
{# {% set postPostObj = post ?? null %} #}

{# Variables #}
{% set postBem = [{ block: 'post'}] %}

{# Output #}
{% extends '_app/_templates/app.twig' %}

   {% block app %}

      {% import 'macros.twig' as mcro %}

      {% embed '_molecules/page-header/page-header.twig' with { title: post.title, subtitle: subtitle } %}
         {% block pageHeaderBefore %}
         {% import 'macros.twig' as mcro %}
            {{ mcro.createHTMLTag('datetime', {}, [], post.date|date('j F Y')) }}
         {% endblock %}
      {% endembed %}

      {% set postInnerHTML %}

         <section id="content" class="wrap--break-sm">
            <div class="typography">
               {{ appPost.content }}
            </div>
         </section>

         <section id="terms" class="wrap--break-md">
            {% include '_organisms/terms/terms.twig' with {
               terms: appPost.terms,
               postObj: postObj,
               taxObj: taxObj
            } %}
         </section>

         <div class="wrap--break-md">
            {% include '_molecules/prev-next-post/prev-next-post.twig' with { prev: post.prev, next: post.next } %}
         </div>

      {% endset %}

      {{ mcro.createHTMLTag( 'div', postAttrs, postBem, postInnerHTML ) }}

   {% endblock %}
