{# base/components/post/post.twig #}
{#
   Post
   Default post
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Post Object} post
   @param {Array} stats
   @param {String} preview_image

#}
{# Parameters #}
{% set postBem = bem ?? null %}
{% set postAttrs = attrs ?? null %}
{% set postObj = post ?? null %}
{% set postPreviewImage = post.primary_image ?? null %}
{% set postStats = stats ?? null %}
{# Variables #}
{% set postBemDefault = [{ block: 'posts', element: 'post' }] %}
{% set postBem = (postBem) ? bem|merge( postBemDefault ) : postBemDefault %}
{% set postAttrs = { href: postObj.link } %}
{# Output #}
{% if postObj %}
{% import 'macros.twig' as mcro %}
{% set postInnerHTML %}
<div class="post__header">
{% include 'components/browser-mockup/browser-mockup.twig' with { attrs: {}, bem: [], image: postPreviewImage } %}
</div>
<div class="post__body">
{{ mcro.createHTMLTag('h3', {}, [],  postObj.title) }}
{% if postObj.terms.overview %}
{% embed 'components/heading--prefix/heading--prefix.twig' with { bem: [], attrs: {} } %}
{% block prefix %}
<div class="prefix--line"></div>
{% endblock %}
{% block heading %}
{% include 'components/terms/terms.twig' with { post_type: 'work', terms: postObj.terms.overview.children, bem: [], span: true } %}
{% endblock %}
{% endembed %}
{% endif %}
<!-- <div class="typography">{{ mcro.createHTMLTag('p', {}, [], postObj.get_preview(40, false, '') ) }}</div> -->
</div>
{% endset %}
{{ mcro.createHTMLTag( 'a', postAttrs, postBem, postInnerHTML ) }}
{% endif %}
