/**
* @desc         Base typography styles.
* @name         Typography
* @author
* @tested
* @requires     variables.scss
*/

/*---------------------------------------------*\
*    ADAPTIVE FONT
*
*   Root font size and what EM sizes will be
*   based on ( including widths )
/*---------------------------------------------*/

    // @include adaptive-root-font-size();
    //
    // :root {
    //     @extend %root;
    // }

/*---------------------------------------------*\
*   Margins
/*---------------------------------------------*/

    %block-margins { margin: #{ map-deep-get( $type, margins, content ) }; }
    .block-margins { @extend %block-margins; }

/*---------------------------------------------*\
*   Base Type
/*---------------------------------------------*/

    // :root { @extend %root; }
    //
    // body {
    //     font-size: #{ map-deep-get($type, base) }em;
    //     font-family: map-deep-get($fonts, sans-serif, family);
    //     color: $base-color;
    // }

/*---------------------------------------------*\
*   Typographic Classes
/*---------------------------------------------*/

    %link {
        color: $link-color;
        text-decoration: none;

        &:visited {
        color: $link-visited-color;
        }

        &:hover, &:visited:hover {
        color: $link-hover-color;
        text-decoration: underline;
        }
    }

    %italic { font-style: italic; }
    %bold { font-weight: bold; }
    %light { font-weight: lighter; }

    %fixed { font-family: #{ map-deep-get($fonts, fixed, family) }; }
    %serif { font-family: #{ map-deep-get($fonts, serif, family) }; }
    %sans-serif { font-family: #{ map-deep-get($fonts, sans-serif, family)} ; }

    %unordered-list { list-style-type: disc; }
    %ordered-list { list-style: decimal; }

    .italic { @extend %italic; }
    .bold { @extend %bold; }
    .light { @extend %light; }

    .fixed { @extend %fixed; }
    .serif { @extend %serif; }
    .sans-serif { @extend %sans-serif; }

    .ordered-list { @extend %ordered-list; }
    .unordered-list { @extend %unordered-list; }

/*---------------------------------------------*\
*   Headings
/*---------------------------------------------*/

    // %heading {
    //     line-height: 1.5
    // }
    //
    // %h1 {
    //     @extend %heading;
    //     font-size: ms(6);
    // }
    // %h2 {
    //     @extend %heading;
    //     font-size: ms(5);
    // }
    // %h3 {
    //     @extend %heading;
    //     font-size: ms(4);
    // }
    // %h4 {
    //     @extend %heading;
    //     font-size: ms(3);
    // }
    // %h5 {
    //     @extend %heading;
    //     font-size: ms(2);
    // }
    // %h6 {
    //     @extend %heading;
    //     font-size: ms(1);
    // }
    //
    // @for $i from 1 through 6
    // {
    //     .h#{$i} { @extend %h#{$i}; }
    // }

/*---------------------------------------------*\
*   Other Sizes
/*---------------------------------------------*/

    // %p {
    //     font-size: em(15);
    //     line-height: em(20);
    // }

    %input {
        font-size: em(12);
        line-height: em(15);
    }

    %small {
        font-size: ms(-3);
        // line-height: em(12);
        line-height: 0;
    }

    %menu
    {
        color: $lagunaSecaBlue;
        font-size: ms(2);
        line-height: 1;
    }

    // p, .p { @extend %p; }
    // input, .input { @extend %input; }
    // small, .small { @extend %small; }


/*---------------------------------------------*\
*   Typesetting Content
/*---------------------------------------------*/

    // .typography
    // {
    //     color: $grey;
    //     a { @extend %link; }
    //
    //     i, em { @extend %italic; }
    //     b, strong { @extend %bold; }
    //
    //     @for $i from 1 through 6
    //     {
    //         h#{$i} {
    //             @extend %h#{$i};
    //         }
    //     }
    //
    //     p, ul, ol, pre {
    //         @extend %block-margins;
    //     }
    //
    //     ol { @extend %unordered-list; }
    //     ul { @extend %ordered-list; }
    //
    //     pre, code { @extend %fixed; }
    // }

/*---------------------------------------------*\
*    FONT FAMILY
/*---------------------------------------------*/

    // %p { font-family: map_get($type_family, body); }
