/*---------------------------------------------*\
*    ACCORDION
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %accordion
    {
        box-sizing: border-box;
        > * {
            box-sizing: border-box;
        }
        @extend %select-js;
        %accordion__button
        {
            @extend %select-js__button;
            z-index: 11;
            &%btn--active
            {
                // set in skin
            }
            &%btn--inactive
            {
                // set in skin
            }
        }
        %accordion__content
        {
            @extend %drop-down__list;
            position: relative;
            z-index:11;
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .accordion { @extend %accordion; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .accordion__button { @extend %accordion__button; }
    .accordion__content { @extend %accordion__content; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
