/**
* @desc         Base typography styles.
* @name         Typography
* @author
* @tested
* @requires     variables.scss
*/

/*---------------------------------------------*\
*   Typographic Classes
/*---------------------------------------------*/

    %link {
        color: $link-color;
        text-decoration: none;

        &:visited {
        color: $link-visited-color;
        }

        &:hover, &:visited:hover {
        color: $link-hover-color;
        text-decoration: underline;
        }
    }

    %italic { font-style: italic; }
    %bold { font-weight: bold; }
    %light { font-weight: lighter; }

    %unordered-list { list-style-type: disc; }
    %ordered-list { list-style: decimal; }

    .italic { @extend %italic; }
    .bold { @extend %bold; }
    .light { @extend %light; }

    .ordered-list { @extend %ordered-list; }
    .unordered-list { @extend %unordered-list; }

/*---------------------------------------------*\
*   PLumber Defaults
/*---------------------------------------------*/

@include plumber-set-defaults
(
    $grid-height: 1rem,
    $baseline: 0.158203,
    $font-size: 1.75,
    $line-height: 3,
    $leading-top: 1,
    $leading-bottom: 2
);

%html
{
    font-size: #{$gh}px;
    font-family: $body-font;
    font-weight: 400;
    color: $doveGrey;
}

::selection {
    background: $shilo;
    color: $white;
}

/*---------------------------------------------*\
*   Base Rules
/*---------------------------------------------*/

%body
{
    %base-grid
    {
        background-image: linear-gradient(to top, rgba(242, 201, 76, 0.5) 0, rgba(242, 201, 76, 0.5) 1px, transparent 1px);
        background-size: 100% #{$gh}px;
    }

    %headers
    {
        font-family: $heading-font;
        font-weight: 700;
        color: $doveGrey;
        %a
        {
            font-size: inherit;
            font-family: inherit;
            color: $shilo;
            &:hover
            {
                color: lighten($shilo, 10%);
            }
        }
        @include mobile()
        {
            text-align: left;
        };
    }

	%h1
    {
        margin: 0;
        @extend %headers;
        @include plumber
        (
            $baseline: $heading-baseline,
			$font-size: 9.5,
			$line-height: 10,
		);
        @include mobile()
        {
            @include plumber
            (
                $baseline: $heading-baseline,
    			$font-size: 5.5,
    			$line-height: 7,
    		);
        };
	}

	%h2 {
    margin: 0;
    @extend %headers;
		@include plumber (
      $baseline: $heading-baseline,
			$font-size: 3.5,
			$line-height: 5,
		);
    @include mobile() {
      @include plumber (
        $baseline: $heading-baseline,
        $font-size: 3,
        $line-height: 4,
      );
    };
	}

	%h3
    {
        margin: 0;
        @extend %headers;
		@include plumber
        (
			$font-size: 3,
			$line-height: 4,
			$baseline: $heading-baseline
		);
	}

    %datetime
    {
        display: block;
        letter-spacing: 0.6em;
        text-transform: uppercase;
        color: $silver;
        @include plumber
        (
            $font-size: 1.5,
            $line-height: 2,
            $leading-top: 0,
            $leading-bottom: 0,
        );
    }

	%span
	{
		@include plumber
        (
			$font-size: 1.25,
			$leading-top: 0,
			$leading-bottom: 0
		);
	}
}

/*---------------------------------------------*\
* Fromatted Rules
*
* Full formatted type
/*---------------------------------------------*/

%typography {

  font-size: #{$gh}px;

	@include plumber-set-defaults
	(
		$font-size: 2.5,
		$line-height: 4,
		$baseline: $body-baseline,
		$grid-height: 1rem,
	);

  %h1 {
    @extend %headers;
    font-weight: 700;

		@include plumber(
			$baseline: $heading-baseline,
			$font-size: 9.5,
			$line-height: 10,
			$leading-top: 10,
			$leading-bottom: 5
		);

    @include mobile() {
      @include plumber(
          $baseline: $heading-baseline,
          $font-size: 6.5,
          $line-height: 7,
          $leading-top: 10,
          $leading-bottom: 5
      );
    };
	}

	%h2 {
    @extend %headers;
		@include plumber(
			$baseline: $heading-baseline,
			$font-size: 3.5,
			$line-height: 5,
			$leading-top: 7,
			$leading-bottom: 4,
		);
	}

	%h3 {
    @extend %headers;
		@include plumber(
			$font-size: 3,
			$line-height: 4,
			$leading-top: 5,
			$baseline: $heading-baseline
		);
	}

	%p {
		@include plumber($leading-top: 0, $leading-bottom: 2);
    color: $doveGrey;
    %a {
      @extend %a;
    }
	}

  %pre {
    font-size: 1.5rem;
    padding: 1.5rem;
    background: whitesmoke;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    word-wrap: break-word;
  }

  %li {
      @extend %p;
  }

	%a {
		@extend p;
    color: $shilo;
    font-weight: 700;
    @include transition(.3s color ease);
    &:hover {
      color: lighten($shilo, 10%);
    }
	}
}

/*---------------------------------------------*\
*   Output
/*---------------------------------------------*/

  html { @extend %html; }
  body { @extend %body; }
  .typography { @extend %typography; }
  h1 { @extend %h1; }
  h2 { @extend %h2; }
  h3 { @extend %h3; }
  p { @extend %p; }
  a { @extend %a; }
  li { @extend %li; }
  pre {  @extend %pre; }
  span { @extend %span; }
  .datetime { @extend %datetime; }
