%footer
{
    position: relative;
    padding-top: 10em;
    @extend %grid;
    @extend %grid--col;
    @extend %grid--gutter-sm-bottom;
    @extend %flex--align-items-center;
    background-color: $tundora;
    color: $silver;

    %footer__contact
    {
        @extend %grid;
        @extend %grid--col;
        @extend %grid--gutter-xs-bottom;
        @extend %flex--align-items-center;
    }

    %footer__recent-posts
    {
        @extend %wrap--break-lg;
        %posts
        {
            @extend %grid;
            @extend %grid--col;
            @extend %grid--gutter-xs-bottom;
            @extend %flex--align-items-center;
            %posts__post
            {
                %btn
                {
                    // @extend %btn--line-below;
                }
            }
        }
    }

    %footer__copyright
    {
        @extend %grid;
        @extend %grid-desktop--gutter-lg-right;
        @extend %grid-tablet--gutter-lg-right;
        @extend %grid-mobile--col;
        @extend %grid-mobile--gutter-sm-bottom;
    }

    %logo
    {
        position: absolute;
        top: -3.4em;
    }

  	%a {
  		@include plumber(
  			$font-size: 1.5,
  			$line-height: 1,
  			$leading-bottom:0,
  			$leading-top:0
  		);
      color: $silver;
      &:hover {
        color: $shilo;
      }
      &%stand-out {
        @extend %datetime;
        @extend %line-below--outwards;
        &:after {
          bottom: -1rem;
          background-color: $shilo;
        }
      }
  	}

  	%btn--menu {
  		color: white;
  	}
}

footer { @extend %footer; }
.footer__contact { @extend %footer__contact; }
.footer__recent-posts { @extend %footer__recent-posts; }
.footer__copyright { @extend %footer__copyright; }

.logo { @extend %logo; }
.btn { @extend %btn; }
.posts { @extend %posts; }
.stand-out { @extend %stand-out; }
.btn--menu { @extend %btn--menu; }
a { @extend %a; }
// .posts__post { @extend %posts__post; }
