/*---------------------------------------------
    btn.scss
---------------------------------------------*/
/*---------------------------------------------
    RELATIONSHIPS
---------------------------------------------*/

%btn {
    box-sizing: border-box;
    > * {
        box-sizing: border-box;
    }
    @include transition( .3s color ease );
    position: relative;
    width: auto;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    border-color: grey;
    &--fill {
        width: 100%;
    }
    %svg {
        fill: map-deep-get($btn, icon, color);
        margin: auto;
        width: map-deep-get($btn, icon, dimensions, width);
        height: map-deep-get($btn, icon, dimensions, height);
    }
    %svg, %span {
        z-index: 10;
    }
    // outside of %btn so that can be used on input elements.??
    %btn__text
    {
        font-size: inherit;
        display: block;
        position: relative;
        @include transition(color .3s ease-out) ;
        will-change: transform;
    }
}

/*---------------------------------------------
    BLOCK
---------------------------------------------*/

    .btn { @extend %btn; }

/*---------------------------------------------
    ELEMENT
---------------------------------------------*/

    svg { @extend %svg; }
    .btn__text, span { @extend %btn__text; }

/*---------------------------------------------
    MODIFIER
---------------------------------------------*/

    .btn--fill { @extend %btn--fill; }

/*---------------------------------------------
    SKINS
---------------------------------------------*/

@import "skin/all";
