
{% extends '_templates/global.twig' %}

{% block main %}

   {% include ['_app/_organisms/header/header.twig', '_components/_organisms/header/header.twig' ] %}

   {% set appInnerHTML %}

      <div class="wrap">
         {% block app %}{% endblock %}
      </div>

      {% block after_app %}{% endblock %}

   {% endset %}

   {% if request_body.ajax == 1 %}

      {{ appInnerHTML }}

   {% else %}

      {{ mcro.createHTMLTag('main', {
         post_type: post.post_type,
         page_id: post.ID,
         parent_id: function("wp_get_post_parent_id", post.id )
      }, [], appInnerHTML) }}

   {% endif %}

   {% include ['_app/_organisms/footer/footer.twig', '_organisms/footer/footer.twig'] %}

{% endblock %}
