
/*---------------------------------------------*\
*    grid.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

/*---------------------------------------------*\
*    GLOBAL
/*---------------------------------------------*/

    %grid {
        @extend %flex;
        &--row
        {
            @extend %flex--row;
        }
        &--col
        {
            @extend %flex--col;
        }
        &--continuous
        {
            @include flex-wrap(wrap);
        }
    }


        @for $iii from 1 through 100
        {
            @if ($iii % 5 == 0)
            {
                %grid__#{$iii}-of-100
                {
                    width: ($iii / 100) * 100%;
                }
                @each $ii in (xs, sm, md, lg, xlg)
                {
                    @each $i in (right, left)
                    {
                        %grid--gutter-#{$ii}-#{$i}
                        {
                            %grid__#{$iii}-of-100
                            {
                                width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                            }
                        }
                    }
                }
            }
        }
        @each $iii in (33, 66)
        {
            %grid__#{$iii}-of-100
            {
                width: ($iii / 100) * 100%;
            }
            @each $ii in (xs, sm, md, lg, xlg)
            {
                @each $i in (right, left)
                {
                    %grid--gutter-#{$ii}-#{$i}
                    {
                        %grid__#{$iii}-of-100
                        {
                            width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                        }
                    }
                }
            }
        }
        @each $i in (top, right, bottom, left)
        {
            %grid--gutter-last-of-#{$i}
            {
                @include grid--gutter-last-of($i, 0);
            }

            %grid--gutter-null-#{$i}
            {
                @include grid--gutter($i, 0);
            }
            %grid--gutter-sm-#{$i}
            {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                %grid--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, sm));
                }
            }
            %grid--gutter-xs-#{$i}
            {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xs));
                %grid--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xs));
                }
            }
            %grid--gutter-md-#{$i}
            {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, md));
                %grid--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, md));
                }
            }
            %grid--gutter-lg-#{$i}
            {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                %grid--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, lg));
                }
            }
            %grid--gutter-xlg-#{$i}
            {
                @extend %grid--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                %grid--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }

/*---------------------------------------------*\
*    MOBILE
/*---------------------------------------------*/

    %grid-mobile {
        @include mobile
        {
            @include flexbox();
            &--row
            {
                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                   content: "";
                   display: table;
                   clear: both;
                 }
            }
            &--col {
                @include flex-dir( column );
                @include flex-flow( column );
            }
            &--continuous {
                @include flex-wrap(wrap);
            }
        };
    }

    @include mobile() {
        @for $iii from 1 through 100
        {
            @if ($iii % 5 == 0)
            {
                %grid-mobile__#{$iii}-of-100
                {
                    width: ($iii / 100) * 100%;
                }
                @each $ii in (xs, sm, md, lg, xlg)
                {
                    @each $i in (right, left)
                    {
                        %grid-mobile--gutter-#{$ii}-#{$i}
                        {
                            > %grid-mobile__#{$iii}-of-100
                            {
                                width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                            }
                        }
                    }
                }
            }
        }
        @each $iii in (33, 66)
        {
            %grid-mobile__#{$iii}-of-100
            {
                width: ($iii / 100) * 100%;
            }
            @each $ii in (xs, sm, md, lg, xlg)
            {
                @each $i in (right, left)
                {
                    %grid-mobile--gutter-#{$ii}-#{$i}
                    {
                        > %grid-mobile__#{$iii}-of-100
                        {
                            width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                        }
                    }
                }
            }
        }
        // @extend %grid-mobile--gutter;
        @each $i in (top, right, bottom, left)
        {
            %grid-mobile--gutter-last-of-#{$i}
            {
                @include grid--gutter-last-of($i, 0);
            }
            %grid-mobile--gutter-null-#{$i}
            {
                @include grid--gutter($i, 0);
            }
            %grid-mobile--gutter-sm-#{$i}
            {
                // @extend %grid-mobile--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                %grid-mobile--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, sm));
                }
            }
            %grid-mobile--gutter-xs-#{$i}
            {
                // @extend %grid-mobile--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xs));
                %grid-mobile--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xs));
                }
            }

            %grid-mobile--gutter-md-#{$i}
            {
                // @extend %grid-mobile--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, md));
                %grid-mobile--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, md));
                }
            }
            %grid-mobile--gutter-lg-#{$i}
            {
                // @extend %grid-mobile--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                %grid-mobile--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, lg));
                }
            }
            %grid-mobile--gutter-xlg-#{$i}
            {
                // @extend %grid-mobile--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                %grid-mobile--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }
    };

/*---------------------------------------------*\
*    TABLET
/*---------------------------------------------*/

    %grid-tablet {
        @include tablet {
            @include flexbox();
            &--row {
                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
            &--col
            {
                @include flex-dir( column );
                @include flex-flow( column );
            }
            &--continuous {
                @include flex-wrap(wrap);
            }
        };
    }

    @include tablet {
        @for $iii from 1 through 100
        {
            @if ($iii % 5 == 0)
            {
                %grid-tablet__#{$iii}-of-100
                {
                    width: ($iii / 100) * 100%;
                }

                @each $ii in (xs, sm, md, lg, xlg)
                {
                    @each $i in (right, left)
                    {
                        %grid-tablet--gutter-#{$ii}-#{$i}
                        {
                            %grid-tablet__#{$iii}-of-100
                            {
                                width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                            }
                        }
                    }
                }
            }
        }
        @each $iii in (33, 66)
        {
            %grid-tablet__#{$iii}-of-100
            {
                width: ($iii / 100) * 100%;
            }

            @each $ii in (xs, sm, md, lg, xlg)
            {
                @each $i in (right, left)
                {
                    %grid-tablet--gutter-#{$ii}-#{$i}
                    {
                        > %grid-tablet__#{$iii}-of-100
                        {
                            width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                        }
                    }
                }
            }
        }
        @each $i in (top, right, bottom, left)
        {
            %grid-tablet--gutter-last-of-#{$i}
            {
                @include grid--gutter-last-of($i, 0);
            }

            %grid-tablet--gutter-null-#{$i}
            {
                @include grid--gutter($i, 0);
            }

            %grid-tablet--gutter-sm-#{$i}
            {
                // @extend %grid-tablet--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, sm));
                %grid-tablet--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, sm));
                }
            }

            %grid-tablet--gutter-xs-#{$i}
            {
                // @extend %grid-tablet--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xs));
                %grid-tablet--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xs));
                }
            }

            %grid-tablet--gutter-md-#{$i}
            {
                // @extend %grid-tablet--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, md));
                %grid-tablet--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, md));
                }
            }

            %grid-tablet--gutter-lg-#{$i}
            {
                // @extend %grid-tablet--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, lg));
                %grid-tablet--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, lg));
                }
            }

            %grid-tablet--gutter-xlg-#{$i}
            {
                // @extend %grid-tablet--gutter-last-of-#{$i};
                @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
                %grid-tablet--gutter-full
                {
                    @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xlg));
                }
            }
        }
    }


/*---------------------------------------------*\
*    DESKTOP
/*---------------------------------------------*/

    %grid-desktop {
        @include desktop {
            @include flexbox();
            &--row {

                @include flex-dir( row );
                @include flex-flow( row );
                > * {
                    float: left;
                }
                &:after {
                   content: "";
                   display: table;
                   clear: both;
                 }
            }
            &--col {

                @include flex-dir( column );
                @include flex-flow( column );
            }
            &--continuous {
                @include flex-wrap(wrap);
            }
        };
    }

    @include desktop() {
    @for $iii from 1 through 100
    {
        @if ($iii % 5 == 0)
        {
            %grid-desktop__#{$iii}-of-100
            {
                @include desktop {
                    width: ($iii / 100) * 100%;
                }
            }

            @each $ii in (xs, sm, md, lg, xlg)
            {
                @each $i in (right, left)
                {
                    %grid-desktop--gutter-#{$ii}-#{$i}
                    {
                        // > %grid-desktop__#{$iii}-of-100
                        // {
                        //     width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                        // }
                    }
                }
            }
        }
    }
    @each $iii in (33, 66)
    {
        %grid-desktop__#{$iii}-of-100
        {
            width: ($iii / 100) * 100%;
        }

        @each $ii in (xs, sm, md, lg, xlg)
        {
            @each $i in (right, left)
            {
                %grid-desktop--gutter-#{$ii}-#{$i}
                {
                    // > %grid-desktop__#{$iii}-of-100
                    // {
                    //     width: calc( #{ ( ($iii / 100) * 100% ) } - #{( ( map-deep-get($grid, gutter, $ii) / 16 ) * ( $iii / 100 ) )}em );
                    // }
                }
            }
        }
    }

    // @extend %grid-desktop--gutter;
    @each $i in (top, right, bottom, left)
    {
        %grid-desktop--gutter-last-of-#{$i}
        {
            @include desktop {
                @include grid--gutter-last-of($i, 0);
            }
        }

        %grid-desktop--gutter-null-#{$i}
        {
            @include grid--gutter($i, 0);
        }

        %grid-desktop--gutter-sm-#{$i}
        {
            // @extend %grid-desktop--gutter-last-of-#{$i};
            @include grid--gutter($i, map-deep-get($grid, gutter, sm));
        }

        %grid-desktop--gutter-xs-#{$i}
        {
            // @extend %grid-desktop--gutter-last-of-#{$i};
            @include grid--gutter($i, map-deep-get($grid, gutter, xs));
        }

        %grid-desktop--gutter-md-#{$i}
        {
            // @extend %grid-desktop--gutter-last-of-#{$i};
            @include grid--gutter($i, map-deep-get($grid, gutter, md));
        }

        %grid-desktop--gutter-lg-#{$i}
        {
            // @extend %grid-desktop--gutter-last-of-#{$i};
            @include grid--gutter($i, map-deep-get($grid, gutter, lg));
        }

        %grid-desktop--gutter-xlg-#{$i}
        {
            // @extend %grid-desktop--gutter-last-of-#{$i};
            @include grid--gutter($i, map-deep-get($grid, gutter, xlg));
        }
    }}
    // %grid-desktop--gutter-full
    // {
    // @include grid--gutter-last-of($i, map-deep-get($grid, gutter, sm));
    // }
    // %grid-desktop--gutter-full
    // {
    // @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xs));
    // }
    // %grid-desktop--gutter-full
    // {
    // @include grid--gutter-last-of($i, map-deep-get($grid, gutter, md));
    // }
    // %grid-desktop--gutter-full
    // {
    // @include grid--gutter-last-of($i, map-deep-get($grid, gutter, lg));
    // }
    // %grid-desktop--gutter-full
    // {
    // @include grid--gutter-last-of($i, map-deep-get($grid, gutter, xlg));
    // }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .grid { @extend %grid; }
    .grid-mobile { @extend %grid-mobile; }
    .grid-tablet { @extend %grid-tablet; }
    .grid-desktop { @extend %grid-desktop; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    @each $i in ('', -mobile, -tablet, -desktop)
    {
        @for $ii from 1 through 100
        {
            @if ($ii % 5 == 0) {
                .grid#{$i}__#{$ii}-of-100
                {
                    @extend %grid#{$i}__#{$ii}-of-100;
                }
            }
        }
        @each $ii in (33, 66)
        {
            .grid#{$i}__#{$ii}-of-100
            {
                @extend %grid#{$i}__#{$ii}-of-100;
            }
        }
    }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .grid--row { @extend %grid--row; }
    .grid--col { @extend %grid--col; }
    .grid--continuous { @extend %grid--continuous; }
    .grid--gutter-full { @extend %grid--gutter-full; }

    .grid-mobile--row { @extend %grid-mobile--row; }
    .grid-mobile--col { @extend %grid-mobile--col; }
    .grid-mobile--continuous { @extend %grid-mobile--continuous; }
    .grid-mobile--gutter-full { @extend %grid-mobile--gutter-full; }

    .grid-tablet--row { @extend %grid-tablet--row; }
    .grid-tablet--col { @extend %grid-tablet--col; }
    .grid-tablet--continuous { @extend %grid-tablet--continuous; }
    .grid-tablet--gutter-full { @extend %grid-tablet--gutter-full; }

    .grid-desktop--row { @extend %grid-desktop--row; }
    .grid-desktop--col { @extend %grid-desktop--col; }
    .grid-desktop--continuous { @extend %grid-desktop--continuous; }
    // .grid-desktop--gutter-full { @extend %grid-desktop--gutter-full; }

    @each $i in ('', -mobile, -tablet, -desktop)
    {
        @each $ii in (top, right, bottom, left)
        {
            .grid#{$i}--gutter-null-#{$ii} { @extend %grid#{$i}--gutter-null-#{$ii}; }
            .grid#{$i}--gutter-sm-#{$ii} { @extend %grid#{$i}--gutter-sm-#{$ii}; }
            .grid#{$i}--gutter-xs-#{$ii} { @extend %grid#{$i}--gutter-xs-#{$ii}; }
            .grid#{$i}--gutter-md-#{$ii} { @extend %grid#{$i}--gutter-md-#{$ii}; }
            .grid#{$i}--gutter-lg-#{$ii} { @extend %grid#{$i}--gutter-lg-#{$ii}; }
            .grid#{$i}--gutter-xlg-#{$ii} { @extend %grid#{$i}--gutter-xlg-#{$ii}; }
        }
    }
