/*---------------------------------------------*\
*    icon.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

%icon {
    fill: $white;
    &--sm {
        height: em( map-get($icon, sm) );
        width: em( map-get($icon, sm) );;
    }
    &--md {
        height: em( map-get($icon, md) );
        width: em( map-get($icon, md) );
    }
    &--lg {
        height: em( map-get($icon, lg) );
        width: em( map-get($icon, lg) );
    }
}

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .icon { @extend %icon; }
    .icon--sm { @extend %icon--sm; }
    .icon--md { @extend %icon--md; }
    .icon--lg { @extend %icon--lg; }


/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
