/*---------------------------------------------*\
*    NAV
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %overlay
    {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        &--animation-active
        {
            z-index: 1000;
        }
        &--animation-inactive
        {
            z-index: -1000;
        }
    }
/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
  .overlay { @extend %overlay; }
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
  .overlay--animation-active { @extend %overlay--animation-active; }
  .overlay--animation-inactive { @extend %overlay--animation-inactive; }


@import "skin/all";
