@include keyframes( slideDownHeader )
{
    0%
    {
        top: -20vh;
    }
    100%
    {
        top: 0;
    }
};

%header
{
    padding: 40px 40px 0px;
    position: relative;
    top: 0;
    %header__logo
    {
        z-index: 1011;
        @include flex-shrink(0);
        @include mobile()
        {
            width: 50px;
            height: 50px;
        };
    }

    %header__grid
    {
        position: relative;
        height: 100%;
        @include transition( top .5s ease-out );
        @extend %grid;
        @extend %flex--just-space-between;
        top: -25%;
        top: -25vh;
    }

    &--animation-loaded
    {
        %header__grid
        {
            @include animation( slideDownHeader 0.5s ease-in 1.45s forwards );
        }
    }

    @include mobile()
    {
        position: fixed;
        left: 0; right: 0;
        padding: 10px 40px;
        background: $doveGrey;
        width: 100%;
        z-index: 40;
        &%header--fade-in
        {
            height: 100%;
            @include animation( .5s ease menu-fade-in forwards );
        }
    };

    &--scroll-up
    {
        position: fixed;
        padding-top: 25px;
        padding-bottom: 25px;
        width: calc( 100% - 80px );
        top: 0;
        background: $tundora;
        %logo
        {
            @extend %icon--sm;
        }
    }
}

// @include keyframes (loading-fade-in)
// {
//    0%
//    {
//       height: 100%;
//       z-index: 1;
//    }
//    100%
//    {
//        z-index: 1010;
//        opacity: 1;
//    }
// };

header { @extend %header; }
.header--animation-loaded { @extend %header--animation-loaded; }
.header--scroll-up { @extend %header--scroll-up; }
.header__grid { @extend %header__grid; }
.logo { @extend %header__logo; }
.header--fade-in { @extend %header--fade-in; }
