// loading overlay
@include keyframes (loading-screen-fade-in)
{
   0%
   {
      z-index: -1000;
      opacity: 0;
   }
   100%
   {
       z-index: 1021;
       opacity: 1;
   }
};

%loading-screen
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    %loading-screen__block
    {
        position:absolute;
        right: 0;
        left: 0;
        margin:auto;
        bottom: 0;
        top: 0;
    }

    %loading-screen__object
    {
        bottom:50%;
        position:absolute;
        left:0;
        right: 0;
        margin:auto;
        width: 65px;
        height: 65px;
    }

    %loading-screen__icon
    {
        position: relative;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
        @extend %animation--waving;
    }

    &--splash
    {
        z-index: 1021;
        &%loading-screen--animation-hide
        {
            @include animation( .5s ease-out 1s loading-screen-fade-in forwards );
            animation-direction: reverse;
            %loading-screen__icon
            {
                // @include animation( 1s ease-out 1s wave infinite );
            }
        }
    }

    &--ajax
    {
        z-index: -1000;
        opacity: 0;
        &%loading-screen--fade
        {
            @include animation( .5s ease-out loading-screen-fade-in forwards );
        }
    }
}

.loading-screen { @extend %loading-screen };
.loading-screen__block { @extend %loading-screen__block; }
.loading-screen__object { @extend %loading-screen__object; }
.loading-screen__icon { @extend %loading-screen__icon; }

.loading-screen--splash { @extend %loading-screen--splash; }
.loading-screen--ajax { @extend %loading-screen--ajax; }
.loading-screen--fade { @extend %loading-screen--fade; }
.loading-screen--animation-hide { @extend %loading-screen--animation-hide; }

@import 'skin/all';
