%page-header
{
    margin-top: 20em;
    @extend %wrap--break-sm;
    @extend %wrap--rg;

    @extend %grid-desktop--gutter-lg-bottom;
    @extend %grid-tablet--gutter-md-bottom;
    @extend %grid-mobile--gutter-xs-bottom;

    %page-header__subtitle
    {
        margin-top: 4rem;
        @extend %flex--align-items-center;
        @extend %grid;
        @extend %grid-desktop--gutter-md-right;
        @extend %grid-tablet--gutter-md-right;
        %page-header__line
        {
            @include desktop()
            {
                flex-shrink: 0;
                width: 20%;
                height: 2px;
                background-color: $shilo;
            };
        }
    }
    h2, .h2
    {
        font-weight: 400;
    }
}

.page-header { @extend %page-header; }
// datetime { @extend %page-header__datetime; }
.page-header__subtitle { @extend %page-header__subtitle; }
.page-header__line { @extend %page-header__line; }
