{% extends 'templates/app.twig' %}

{% import 'macros.twig' as mcro %}

   {% block app %}

      <div class="wrap">
         <div class="wrap--md archive">

            {% include 'components/heading--prefix/heading--prefix.twig' with { icon: 'heading-prefix' } %}

               {% for post in posts %}

                  <div class="archive__post">

                     {{ mcro.createHTMLTag('h3', {}, [],  post.title) }}

                     {% include 'components/terms/listTerms.twig' with { terms: post.terms, postObj: postObj, taxObj: taxObj } %}

                     <div class="typography">

                        {{ mcro.createHTMLTag('p', {}, [], post.get_preview(40, false, '') ) }}

                     </div>

                  </div>

               {% endfor %}

            <div class="">
               {{ dump( pagination ) }}
            </div>

         </div>
      </div>

   {% endblock %}

   {% block after_app %}

   {% endblock %}
