/*---------------------------------------------*\
*    button--border.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/
    %btn--border {
        border-width: 1px;
        border-style:solid;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
    .btn--border {
        @extend %btn--border;
    }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/


/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

%btn--border {
    border-width: 1px;
    border-style:solid;
}
