/*---------------------------------------------------*\
*    Animations
\*---------------------------------------------------*/

    @include keyframes(slideInMarginDesktop)
    {
        0%
        {
            margin: 0;
        }
        100% {
            margin: 40px;
            overflow: auto;
        }
    };

    @include keyframes(slideInMargin)
    {
        0%
        {
            margin: 0;
        }
        100% {
            margin: 5px;
            overflow: auto;
        }
    };

    @include keyframes(fadeInMain)
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
            z-index: 20;
        }
    };

/*---------------------------------------------------*\
*    BEM
\*---------------------------------------------------*/
/*---------------------------------------------------*\
*    Relationships
\*---------------------------------------------------*/


%html
{
    background-color: $tundora;
    @include desktop()
    {
        margin: 40px;
    };
    @include tablet()
    {
        margin: 20px;
    };
    &%smart-browser
    {
        @include transition(margin .5s ease-in);
        margin: 0 !important;
        overflow: hidden;
    }
    &%html--animation-loaded
    {
        @include desktop()
        {
            @include animation( 0.3s ease-in 1.5s slideInMarginDesktop forwards );
        };
        @include portable()
        {
            @include animation( 0.3s ease-in 1.5s slideInMargin forwards );
        };
    }
}

%body
{
    background-color: white;
    margin: 0 !important;
}

%main
{
    padding: 15px;
    position: relative;
    overflow: hidden;
    &--fade
    {
        opacity: 0;
        @include animation( .75s ease-in 2.2s fadeInMain forwards );
        &%main--ajax
        {
            animation-delay: 1s;
        }
    }
    // &--animation-show
    // {
    //     @include animation( 0.3s ease-in 2.2s fadeInMain forwards );
    //
    // }
    // &--animation-hide
    // {
    //     @include animation( ease-in 0.3s fade-out forwards );
    // }
}

html { @extend %html; }
body { @extend %body; }
main { @extend %main; }

.html--animation-loaded { @extend %html--animation-loaded; }
.main--ajax { @extend %main--ajax; }
.main--fade { @extend %main--fade; }
// .main--animation-show { @extend %main--animation-show; }

.smart-browser { @extend %smart-browser; }
