/*---------------------------------------------*\
*    ACCORDION
/*---------------------------------------------*/

@include keyframes (rotate-hide) {
    75% {
        opacity: 1;
    }
    100% {
        @include transform(rotate(-90deg));
        opacity: 0;
    }
};

@include keyframes (slide-down) {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 500px;
    }
};

@include keyframes (show) {
    100% {
        opacity: 1;
    }
};

/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %accordion
    {
        %accordion__button
        {
            background-color: $white;
            &:hover
            {
                background-color: $white;
            }
            &%btn--active
            {
                &~%accordion__content
                {
                    animation: slide-down 1.25s ease-out forwards;
                }
                svg
                {
                    @include transform(none);
                }
                %accordion__plus
                {
                    animation: rotate-hide 0.3s forwards;
                }
                %accordion__minus
                {
                    animation: show .3s .2s forwards;
                }
            }
            &%btn--inactive {
                &~%accordion__content
                {
                    animation: slide-up 0.5s ease-out forwards;
                }
                %accordion__plus
                {
                    animation: rotate-show 0.3s forwards;
                }
                %accordion__minus
                {
                    animation: hide 0.3s 0.15s forwards;
                }
            }
            %button__text
            {
                color: $black;
                @include em(30);
            }
            %accordion__minus
            {
                opacity: 0;
            }
            %svg
            {
                fill: $black;
                @include transition(.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940));
            }
        }
        %accordion__content
        {
            @include transition(1s all cubic-bezier(0.250, 0.460, 0.450, 0.940));
        }
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/

    .accordion { @extend %accordion; }

/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/

    .accordion__button { @extend %accordion__button; }
    .accordion__content { @extend %accordion__content; }
    .button__text { @extend %button__text; }
    .accordion__minus { @extend %accordion__minus; }

    .btn--active { @extend %btn--active; }
    .btn--inactive { @extend %btn--inactive; }

/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/
