
%hamburger
{
    z-index: 1011;
    display: none;
    @include mobile() {
        display: block;
    };
    border-radius: 3px;
    cursor: pointer;
    height: 24px;
    padding: 25px 15px;
    position: absolute;
    top:0;
    right: 0;
    width: 25px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    -o-box-sizing: initial;
    -ms-box-sizing: initial;
    box-sizing: initial;
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    @include mobile()
    {
        padding: 15px 0;
    };

    %hamburger__layer
    {
        background-color: $shilo;
        height: 4px;
        margin-top: 4px;
        width: 24px;
        @include transition(.3s ease-in-out);
    }

    &--active
    {
        %hamburger__layer
        {
            background: white;
            &:first-child
            {
                @include transform( rotate(45deg) translateX(5px) translateY(6px) );
            }
            &:nth-child(2)
            {
                    background:transparent;
            }
            &:last-child
            {
                @include transform( rotate(-45deg) translateX(5px) translateY(-6px) );
            }

        }
    }
}

.hamburger { @extend %hamburger; }
.hamburger__layer { @extend %hamburger__layer; }
.hamburger--active { @extend %hamburger--active; }
