{# components/footer/footer.twig #}

{#
   Footer
   @param {Array} bem (optional)
      {
         block {String}
         element {String}
         modifier {Array}
      }
   @param {Array} attrs (optional)
   {
      Mixed
   }
   @param {Array} social_media
#}

{# Parameters #}
{% set footerSocialMedia = social_media ?? null %}
{% set footerEmail = footer.email ?? null %}
{% set footerTelephone = footer.telephone ?? null %}
{% set footerPosts = footer.posts ?? null %}
{% set footerMenu = footer.menu.items ?? null %}
{% set footerCopyright = footer.copyright ?? null %}

{# Varaibles #}

{# Output #}
{% import 'macros.twig' as mcro %}

{% set innerHTML %}

   {% include 'components/icon-link/icon-link.twig' with { icon: 'icon-logo', bem : [{block: 'logo'}] } %}

   <section class="footer__contact wrap--break-md">
      {{ mcro.createHTMLTag('a', {'href': 'mailto:' ~ footerEmail }, [{ block: 'stand-out' }], footerEmail ) }}
   </section>

   <section class="footer__social wrap--break-md">
      {% include 'components/social-icons/social-icons.twig' with { icons: footerSocialMedia } %}
   </section>

   <section class="wrap--break-md footer__recent-posts">
      {{ sidebar__footer }}
   </section>

   <section class="footer__copyright">
      <span>{{ footerCopyright }}</span>

      {% include ['components/menu/menu.twig', 'base/components/menu/menu.twig' ] with {
       menu: footerMenu,
       bem: [{ block: 'nav', modifier: ['footer'] }]
       } %}
   </section>

{% endset %}

{{ mcro.createHTMLTag('footer', {}, [], innerHTML) }}
