/*---------------------------------------------*\
*    button--wide.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %btn--wide {
        @extend %btn;
        $paddingSide: map-deep-get($btn, padding, side);
        @include padding-all($left: $paddingSide, $right: $paddingSide );
        width: 100%;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--wide {
        @extend %btn;
        padding-left: 34px;
        padding-right: 34px;
        width: 100%;
    }
