/*---------------------------------------------*\
*    button--inline.scss
/*---------------------------------------------*/
/*---------------------------------------------*\
*    RELATIONSHIPS
/*---------------------------------------------*/

    %btn--inline {
        @extend %btn--text;
        margin: 0 10px 0 0;
        height: 13px;
        line-height: 13px;
        @include padding-all($right: 10, $left: 10);
        span {
            line-height: 13px;
        }
        margin: 0;
    }

/*---------------------------------------------*\
*    BLOCK
/*---------------------------------------------*/
/*---------------------------------------------*\
*    ELEMENT
/*---------------------------------------------*/
/*---------------------------------------------*\
*    MODIFIER
/*---------------------------------------------*/

    .btn--inline {
        @extend %btn--inline;
    }
